<launch>

<arg name="pasta"     default="quintalcertinho"/>
<arg name="resolucao" default="0.02"           />

<node name="planta_baixa_node" pkg="acc_obj" type="planta_baixa_node" output="screen">
    <param name="pasta"     value="$(arg pasta)"    />
    <param name="resolucao" value="$(arg resolucao)"/>
</node>

</launch>
