<launch>
<arg name="pasta" default="Dados_pepo"/>
<arg name="ambiente" default="1"/> <!--1 e interno, 2 e externo-->

<node name="clusters_node" pkg="clusters" type="clusters_node" output="screen">
    <param name="pasta"    value="$(arg pasta)"/>
    <param name="ambiente" value="$(arg ambiente)"/>
</node>


</launch>
