<launch>

<!--Lancar no do driver do laser-->
<include file="$(find livox_ros_driver)/launch/livox_lidar.launch"/>

<!--Lancar no do driver camera USB - Lancar externo se tiver warning chato-->
<!--<include file="$(find usb_cam)/launch/usb_cam.launch"/>-->

<!--Lancar processamento dos dados vindos de cada um-->
<!--<node name="processar_node" pkg="laser_camera" type="processar_node" output="screen"/>-->

<!--Lancar processamento dos dados vindos de cada um de forma rapida, online-->
<node name="processar_online_node" pkg="laser_camera" type="processar_online_node" output="screen"/>

</launch>
